img, .demo {
    text-align: center;
 }
@media screen and (min-width: 640px) {
 .logo {
     margin-top: 50px;
 }
}

 form {
     display: block;
     margin: 0 auto;
    text-align: center;
 }
 .container {
   display: inline-block;
   margin: 0 auto;
   max-width: 100%;
   padding: 10px;
   border: 1px solid #BDBDBD;
   border-radius: 3px;
 }
 
 form p {
     max-width: 100%;
     display: block;
     margin: auto;
     text-align: center;
 }
 
 input {
     max-width: 320px;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #cccccc;
     box-sizing: border-box;
 }
 
 button {
   display: block;
   margin: 10px auto;
   border: none;
   cursor: pointer;
   width: 240px;
   padding: 10px;
 }
 .logo {
   height: 60px;
   width: 60px;
   border-radius: 50%;
 }