body {
    background-color: #263238;
    text-align: center;
}
.logo {
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
}
.login-form {
    max-height: 600px;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
}
.login-form label {
    color: white;
    margin: 20px;
}
.demo-info {
    text-align: center;
    color: white;
}
.login-form input {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 60%;
    height: 30px;
    color: #222222;
}
.login-form button {
    text-align: center;
    height: 30px;
    width: 80px;
}