.add-button {
    padding: 5px;
    border-radius: 4px;
    height: 45px;
}
.add-form > input {
    border: 1px solid #222222;
    border-radius: 4px;
    padding: 3px;
    max-width: 166px;
    margin-right: 2px;
    height: 40px;
}
.add-form > button {
  height: 40px;
}
.add-button a {
    text-decoration: none;
}

.team > .add-button {
    border: 1px solid;
    border-radius: 3px;
    min-width: 200px;
    background: #FAFAFA;
    max-width: 320px;
    height: 45 px;
    margin: 20px;
}

.team > .add-button:hover {
    background-color: #00838f;
    color: white;
    cursor:pointer;
}

.team > .add-button a {
    color: #222222;
}

.member > .add-button:hover {
    background-color: #00838f;
    cursor: pointer;
}

.member > .add-button a {
    color: black;
}
