.add-button {
    padding: 5px;
    border-radius: 4px;
    height: 45px;
}
.add-form > input {
    border: 1px solid #222222;
    border-radius: 4px;
    padding: 3px;
    max-width: 180px;
    width: 100%;
    margin-right: 2px;
    height: 40px;
}
.add-form > button {
  height: 40px;
  padding: 10px;
}
.add-button a {
    text-decoration: none;
}

.team > .add-button {
    border: 1px solid;
    border-radius: 3px;
    background: #FAFAFA;
    height: 45 px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    width: 340px;
}

.team > .add-button:hover {
    background-color: #00838f;
    color: white;
    cursor:pointer;
}

.team > .add-button a {
    color: #222222;
}

.member > .add-button:hover {
    background-color: #00838f;
    cursor: pointer;
}

.member > .add-button a {
    color: black;
}
