
h1,h2,h3,h4 {
  color: #00838f;
}
button {
  background-color: #00838f;
  color: white;
  font-size: 17px;
}
button:hover {
  cursor:pointer;
  background-color: #006064;
}
*{
    box-sizing: border-box;
}
