
.control{
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #00838f;
    border-radius: 5px;
    color: white;
    width: 160px;
    height: 45px;
}
.content {
    display:block;
    margin: 20px auto;
    padding: 10px;
    max-width: 90%;
    outline: 1px solid white;
}
.control:hover {
    cursor: pointer;
}
.invisible {
    display: none;
}
