.header-bar {
    margin: 20px;
}
.logo {
    padding: 5px;
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.log-out{
    border: 1px solid #00838f;
    border-radius: 3px;
}
.dashboard-name {
    text-align: center;
    padding: 10px;
}
.team h2 {
    text-align: center;
}
.members {
    margin: 20px;
}
