.home-page {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }
       
header {
  padding: 15px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #ddd;
  color: #222222;
 
}

section:nth-child(odd) {
    background-color: #263238;
    color: #ddd;
}

p {
    margin: 0 auto;
    max-width: 650px;
}

p + p {
    margin-top: 15px;
}
footer {
    padding: 1% 0;
    background-color: #ddd;
    color: #222222;
    text-align: center;
}
.banner {
    display:block;
    margin: 0 auto;
    padding-left: 30px;
    max-height: 200px;
    max-width:85%;
}
.login-form input {
    height: 35px;
    border: 1px black solid;
    border-radius: 3px;
    padding: 10px;
}
.login-form button {
    margin: 6px;
    padding: 5px;
    border: 1px solid #FF3D00;
    border-radius: 5px;
}