.member {
  background: #E0E0E0;
  margin: 10px 10px 0px 0px;
  padding: 8px;
  min-width: 300px;
  border-radius: 4px;
  max-width: 320px;
  flex-grow: 1;
}
.member > .add-button {
  border: 1px solid black;
  border-radius: 3px;
}
.member:first-child {
  margin-left: 0;
}

.member:last-child {
  margin-right: 0;
}
.task-container{
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-row: auto;
  grid-template-areas: "name est actual";
}
.task-name{
  grid-area: name;
}
.est{
  grid-area: est;
}
.actual{
 grid-area: actual;
}
.name-container {
  display: flex;
  flex-direction: start;
  justify-content: space-between;
}
.delete-member-button {
  margin-top: 15px;
  color: white;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
}
