*{
    box-sizing: border-box;
}
body {
    background-color: #263238;
    color: antiquewhite;
}
.registrationForm h2 {
    text-align: center;
    margin: 10px;
    font-size: 21px;
}
.registrationForm{
    border: 1px solid antiquewhite;
    border-radius: 3px;
    max-width: 480px;
     display: block;
     margin: 50px auto;
     text-align: center;
}
.registrationForm input {
    margin: 20px; 
    padding: 10px;
    height: 35px;
    width: 200px;
    font-size: 17px;
    border: 1px solid #263238;
    border-radius: 3px;
}
.registrationForm button {
    font-size: 17px;
    height: 40px;
    background-color: #FF3D00;
    border: 1px solid #FF3D00;
    border-radius: 2px;
    margin-bottom: 50px;
}
.demo a {
    text-decoration: none;
    color: #FF3D00;
    text-align: center;
}
.demo a:visited {
    color: #FF3D00;
}