.add-button {
    padding: 8px;
    border-radius: 4px;
}

.add-button a {
    text-decoration: none;
}

.team > .add-button {
    min-width: 200px;
    background: #1565C0;
    max-width: 300px;
    margin: 20px;
}

.team > .add-button:hover {
    background: #0D47A1;
}

.team > .add-button a {
    color: white;
}

.member > .add-button:hover {
    background: #BDBDBD;
}

.member > .add-button a {
    color: black;
}
.task-form input{
    border: 1px solid white;
    border-radius: 2px;
    margin: 5px;
}
.task-form button {
    border: 1px solid #ff3d00;
    border-radius: 2px;
    margin: 5px;
}