.members {
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
}
.team> form {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
}
.team > form > button {
    margin: 5px;
    border: 1px solid #FF3D00;
    border-radius: 30px;
}
.team {
    max-width: 1000px;
}
