.members {
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
}
.team> form {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
}
.team > form > button {
    margin: 2px;
    border: 1px solid #FF3D00;
    border-radius: 3px;
    font-size: 15px;
    color: antiquewhite;
}
.team {
    max-width: 100%;
}
